<!doctype html>
<html>
<head>
    <title>Example - example-forms-custom-triggers-production</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
</head>
<body ng-app="customTriggerExample">

<div ng-controller="ExampleController">
  <form class="css-form">
    <label>Name:
      <input type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" /></label><br />
    <label>
      Other data:
      <input type="text" ng-model="user.data" /></label><br />
  </form>
  <pre>username = "{{user.name}}"</pre>
  <pre>userdata = "{{user.data}}"</pre>
</div>

</body>
</html>
